html {
    scroll-behavior: smooth;
}

html, body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong {
    color: black;
    font-family: "Lexend", sans-serif;
    font-weight: 650;
}

h1 {font-size: 65px;}
h2 {font-size: 30px;}
h3 {font-size: 22px;}

a {
    text-decoration: none;
    color: black;
    font-family: "Comfortaa", sans-serif;
}

a:visited {
    color: black;
    text-decoration: none;
}

p, li, input, textarea{
    font-family: "Comfortaa", sans-serif;
    font-size: 18px;
    line-height: 28px;
}

ul {
    list-style: none;
    padding: 0;
}

.section-1 {
    /* overflow: auto; */
    background-color: white;
    /* border-bottom: 2px solid rgb(77, 77, 77); */
    
}

.section-2 {
    /* overflow: auto; */
    background-color: #eeeeee;
    border-bottom: 1px solid rgb(77, 77, 77);
}

.section-container {
    width: 850px;
    margin: auto;
}

.name-wrapper {
    text-align: center;
}

#name-text {
    margin-bottom: 0.3em;
}

.navigation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation {
    display: flex;
    align-items: center;
}

#navigation li {
    display: inline-block;
}

.nav-spacer {
    margin-left: 10px;
    margin-right: 10px;
    height: 1.3em;
    border: 1px solid rgb(78, 78, 78);
}

#about-wrapper {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    gap: 50px;
    padding-bottom: 20px;
}

#about-text {
    background-color: white;
    width: 90%;
    padding: 10px 10px 10px 10px;

    -webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.26);
    box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.26);
}

#profile_picture {
    width: 200px;
    height: auto;
    margin-top: 10px;

    -webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.26);
    box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.26);
}

#skills-wrapper {
    padding-bottom: 25px;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    
    gap: 15px;
}

#skills-desc-wrapper {
    display: flex;
    flex-direction: column;
}

#skill-logos-wrapper {
    width: 20em;
    height: 15em;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);

    /* justify-self: center; */
    align-self: center;
}

#skills-list-wrapper {
    background-color: #eeeeee;
    width: 65%;
    display: flex;
    align-self: center;
    justify-content: space-evenly;

    -webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.26);
    box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.26);
}

.skills-grid-image {
    width: 100%;
    height: 100%;
    object-fit: contain;

    /* -webkit-box-shadow: 0px 7px 13px -4px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 7px 13px -4px rgba(0,0,0,0.35);
    box-shadow: 0px 7px 13px -4px rgba(0,0,0,0.35); */
}

#godotimg { 
    grid-area: 2 / 2 / 4 / 5;
}

#pythonimg {
    grid-area: 3 / 2 / 5 / 4;
}

#htmlimg {
    grid-area: 1 / 2 / 3 / 6;
}

#cssimg {
    grid-area: 2 / 1 / 4 / 3;
}

#jsimg {
    grid-area: 3 / 4 / 5 / 6;
}

#cimg {
    grid-area: 4 / 1 / 6 / 3;
}

#njsimg {
    grid-area: 4 / 3 / 6 / 5;
}

#projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
    padding-bottom: 30px;
}

.single-project-container {
    width: 90%;
    display: flex;
    background-color: white;
    gap: 10px;

    -webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.26);
    box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.26);
}

.single-project-img {
    /* height: 100%;
    width: 100%; */
    height: 178px; 
    width: 340px;
    display: block;
    object-fit: contain;
}

.single-project-info-container {
    display: flex;
    flex-direction: column;
}

.single-project-info-container p {
    margin: 0;
    padding-right: 5px;
}

.single-project-info-container a {
    margin-top: auto;
    margin-bottom: 12px;
    color:aquamarine;
}

/* grid-area: row-start col-start row-end col-end */

#contact-wrapper {
    display: flex;
    gap: 5em;
    /* justify-content: space-between; */
}

#contact-form {
    display: block;
    max-width: 400px;
    padding: 15px;
    /* margin: 0 auto; */
    background-color: #eeeeee;
    border-radius: 5px;
    border: 1px solid rgb(78, 78, 78);
    margin-bottom: 50px;
    justify-self: center;
}

.input-field {
    width: 98%;
    padding: 8px 0 8px 6px;
    background-color: #ffffff;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 5px;
    margin-bottom: 15px;
}

#contact-form textarea{
    min-height: 100px;
    max-width: 392px;
}

#submit-btn {
    width: 100%;
    padding-top: 10px;
	padding-bottom:10px;
    background-color: #ffffff;
    border-width: 1.5px;
    border-radius: 5px;
    /* border: none; */
}

#submit-btn:hover {
    background-color: #7e7e7e;
    color: white;
}

.contact-info-container {
    display: flex;
    gap: 25px;
}

.contact-info-container img {
    width: 1.5em;
    object-fit: contain;
}

.contact-info-container p {
    font-size: 16px;
}

#socials-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.social-img {
    width: 2.5em;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    #about-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .section-container {
        width: 100%;
    }
    #skills-wrapper {
        flex-direction: column;
    }
    #projects-wrapper {
        align-items: center;
    }
    .single-project-container {
        flex-direction: column;
        width: 340px;
    }
}

/* ---- ARTICLE CSS ---- */

.post-title {
    margin-bottom: 0.3em;
}

.post-desc {
    margin-top: 0;
}

.post-subtitle {
    display: flex;
    align-items: center;
}

.post-subtitle img {
    height: 1.5em;
    margin-right: 5px;
}

.post-subtitle h3 {
    margin: 0;
}

.post-body {
    display: flex;
    flex-direction: column;
    width: 45em;
    margin: 0 auto;
}

.post-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.post-img {
    width: 100%;
    margin: 1em auto;
    align-self: center;

    -webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.26);
    box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.26);
}

.post-img-desc {
    color: #404040;
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}