@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-comfortaa: "Comfortaa", sans-serif;
  --font-lexend: "Lexend", sans-serif;

  --color-default-text-color: #242E31;
  --color-secondary-section-color: #fafafa;
  --color-card-color: #E3EEF6;
  --color-tag-color: #AAFAED;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
  color: #242E31;
  scroll-behavior: smooth;
}

.scroll-reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.scroll-reveal.slide-in  {
  opacity: 1;
  transform: translateY(0);
}